@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center my-5">
    <h1 class="display-4">Sube2.HelloMvc</h1>
    <p class="lead">Öğrenci Yönetim Sistemine Hoş Geldiniz</p>
</div>



<div class="text-center mb-5">
    <a href="/Ogrenci/OgrenciEkle" class="btn btn-primary me-2"><i class="fas fa-user-plus me-2"></i> Öğrenci Ekle</a>
    <a href="/Ogrenci/OgrenciListe" class="btn btn-primary"><i class="fas fa-list me-2"></i> Öğrenci Listesi</a>
</div>

