@model Ogrenci

@{
    ViewData["Title"] = "Öğrenci Ekle";
}

<h3>Öğrenci Ekle</h3>

<form id="ogrenciEkleForm">
    <div class="mb-3">
        <label class="form-label">Ad</label>
        <input type="text" class="form-control" id="Ad" name="Ad" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Soyad</label>
        <input type="text" class="form-control" id="Soyad" name="Soyad" required />
    </div>
    <input type="submit" class="btn btn-success" value="Kaydet" />
</form>

<div id="sonucMesaj" class="mt-3"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $('#ogrenciEkleForm').on('submit', function (e) {
            e.preventDefault();

            var ad = $('#Ad').val(); 
            var soyad = $('#Soyad').val();

            $.ajax({
                url: '/Ogrenci/OgrenciEkle', 
                type: 'POST',
                data: {
                    Ad: ad,
                    Soyad: soyad
                },
                success: function (response) {
                    if (response.success) {
                        $('#sonucMesaj').html('<div class="alert alert-success">Öğrenci ekleme başarılı!</div>');
                    } else {
                        $('#sonucMesaj').html('<div class="alert alert-danger">Öğrenci ekleme hatalı!</div>');
                    }
                },
                error: function () {
                    $('#sonucMesaj').html('<div class="alert alert-danger">Bir hata oluştu!</div>');
                }
            });
        });
    });
</script>
